
<%= image_tag current_avatar.variant(resize_to_limit: [100,100]), class: 'p-5 rounded-circle' %>
<h2 class = "mx-5 mt-0">
  <%= current_user.name.capitalize %>
</h2>

<% link_to presentations_index_path, 'All my presentations' %>



<%= form_for(user_registration_path, url: user_registration_path, method: :patch) do |f|%>
  <div class="d-none">
    <%= f.text_field :id, value: current_user.id %>
  </div>
    File: <%= f.file_field :avatar%>
    <%= f.submit 'Update Picture' %>
<% end%>
