<div class="my-cards-header-with-picture">
  <div>
    <%= image_tag current_avatar.variant(resize_to_limit: [100,100]), class: 'image rounded-circle' %>
  </div>
  <div class = "my-header-title">
    <%= current_user.name.capitalize %>
  </div>

  <%= link_to 'Account settings', edit_user_path(current_user) %>
  <%= link_to 'All my presentations', presentations_path %>
  <%= link_to 'All my external presentations', presentations_path(external: 'true') %>
  <%= link_to 'All my groups', groups_path %>
</div>
