<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field d-none">
    <%= f.label :email %>
    <%= f.email_field :email, value: "a@a.com" %>
  </div>

  <div class="field d-none">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, value: "123456" %>
  </div>

  <div class="field d-none">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, value: "123456" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
