<div class="my-cards-header-with-picture">
<!--
  <% if @group.avatar.attached? %>
    <div class="image">
      <%= image_tag @group.avatar.variant(resize_to_limit: [100,100]), class: 'pt-3 rounded-circle' %>
    </div>
  <% end %>
  <div class = "my-header-title">
    <%= @group.name %>
  </div> -->
    <%= link_to 'Create New', new_group_path%>
</div>

<div class="bg-secundary">
  <div class="my-cards-header">
    <div class= "my-header-title" >Average:</div>
    <div class= "my-header-title" ><%= @group.presentations.average(:amount) %></div>
  </div>

  <div class="my-container">
    <%= render partial: 'groups/presentation', collection: @group.presentations %>
  </div>
</div>
