<div class="my-form-card">
  <h2 class= "card-header text-center">Log in</h2>
  <%= form_for(resource, as: resource_name, url: users_sign_in_path(resource)) do |f| %>
    <div>
      <%= f.text_field :name, autofocus: true, placeholder: :name, autocomplete: "name", class: "field", id: "sign_in_name" %>
    </div>

    <%= f.password_field :password, value: "123456", class: "d-none" %>
    <% if devise_mapping.rememberable? %>
      <div class="field pt-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class = "mx-auto d-flex flex-center">
      <%= f.submit "Log in", class: "button" %>
    </div>
  <% end %>
</div>
