<!DOCTYPE html>
<html>
  <head>
    <title>Elan Manager</title>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/notice' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
