<!DOCTYPE html>
<html>
  <head>
    <title>Elan Manager</title>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/notice' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
